.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  justify-items: center;
  text-align: center;
  margin-top: 1rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member img,
.team-member :is(picture, astro-island) > img {
  border-radius: 9999px; /* Optional: make circular */
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
